<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.datasource">java:/taktyx-development</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.taktyx.model.User"/>
        <mapping class="com.taktyx.model.Location"/>
        <mapping class="com.taktyx.model.Category"/>
        <mapping class="com.taktyx.model.Service"/>
        <mapping class="com.taktyx.model.Address"/>
        <mapping class="com.taktyx.model.Message"/>
        <mapping class="com.taktyx.model.assoc.ServiceMessage"/>
        <mapping class="com.taktyx.model.assoc.UserMessage"/>
        <mapping class="com.taktyx.model.Rating"/>
        <mapping class="com.taktyx.model.assoc.ServiceRating"/>
    </session-factory>
</hibernate-configuration>